#define APSTUDIO_READONLY_SYMBOLS
#include "winres.h"
#include "build_version.h"
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,3,1, BUILD_VERSION_REV
 PRODUCTVERSION 2,3,1, BUILD_VERSION_REV
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "FileDescription", "DirectX9 to DirectX12 API proxy"
            VALUE "FileVersion", 2,2,0, BUILD_VERSION_REV
            VALUE "InternalName", "d912pxy.dll"
            VALUE "LegalCopyright", "Copyright (c) 2018-2020 megai2"
            VALUE "OriginalFilename", "d912pxy.dll"
            VALUE "ProductName", "DirectX9 to DirectX12 API proxy"
            VALUE "ProductVersion", BUILD_VERSION_NAME
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

